body
    background-color: #26262b!important
    // background-attachment: fixed

.title
    margin: 20px
    font-size: 5vmin
    color: white

.input-group
    padding: 10px
    width: 50%!important
    min-width: 400px

.button-group
    margin-left: 10px
    display: flex
    justify-content: center
    width: 50%
    min-width: 400px

.btn
    margin: 0px 5px
    background-color: #7289DA!important
    color: white!important
    &:hover
        background-color: #677bc4!important

.button
    flex: 1

.navbar
    width: 50%
    min-width: 400px
    transform: translateY(-50%)
    border-radius: 5px
    .nav-link
        transform: translateY(70%)
