html
    display: flex
    justify-content: center
body
    width: 50%
    min-width: 400px
    background-color: #26262b!important

.title
    margin: 20px
    font-size: 5vmin
    color: white

.input-group
    padding: 10px

.btn
    margin: 5px
    background-color: #7289DA!important
    color: white!important
    &:hover
        background-color: #677bc4!important

.form-control
    margin: 5px
    background-color: #303339!important
    border-color: #222428!important
    color: #d5d6d7!important
    border-radius: 0.25rem!important

.navbar
    transform: translateY(-50%)
    border-radius: 5px
    .nav-link
        transform: translateY(70%)
